:root {
    --black: black;
    --white: white;
    --grey-pink: rgb(144, 125, 145);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.super-background {
    height: 100%;
    width: 100%;
    background-image: url(../images/Challenge2\ Body\ Background.jpg);
    background-size: cover;

}

a {
    color: var(--black);
    text-decoration: none;
}

header {
    height: 300px;
    padding: 32px 64px 64px 64px;
    margin: 3px;
    border: solid;
    border-color: var(--white);
    display: flex;
    justify-content: space-between;
}

img {
    height: 300px;
}

main {
    padding: 64px;
    margin: 3px;
    border: solid;
    border-color: var(--white);
}

h1,
h2 {
    -webkit-text-fill-color: var(--grey-pink);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--black);
}

#name {
    font-size: 90px;
    margin-top: 0;
    width: 33%;
}

#nav {
    float: right;
}

header nav {
    bottom: 48px;
    right: 48px;
    font-size: 36px;
    width: 33%;
}

header nav ul {
    
}

header nav ul li {
    margin: 8px;
}

header nav ul li a {
    font-size: 36px;
    -webkit-text-fill-color: var(--grey-pink);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--black);
}

header nav ul li a:hover {
    box-shadow: inset 0px 0px 10px;
}

main h2 {
    font-size: 52px;
}

.top {
    padding-top: 32px;
    padding-bottom: 32px;
    border: solid;
    border-color: var(--grey-pink);
    margin-bottom: 48px;
    background-color: var(--white);
}

.middle {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.bottom {
    margin-top: 48px;
    padding: 48px;
    padding-bottom: 64px;
    border: solid;
    border-color: var(--grey-pink);
    background-color: var(--white);
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 200px;
}

.box1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    border: solid;
    border-color: var(--grey-pink);
    margin: 2px;
    background-image: url(../images/first\ application.jpg);
    background-size: cover;
    font-size: 48px;
    color: var(--grey-pink);
    text-align: center;
}


.box2 {
    border: solid;
    border-color: var(--grey-pink);
    margin: 2px;
    background-image: url(../images/placeholder\ image\ 1.jpeg);
    background-size: cover;
    font-size: 36px;
    color: var(--grey-pink);
    text-align: right;
}

.box3 {
    border: solid;
    border-color: var(--grey-pink);
    margin: 2px;
    background-image: url(../images/placeholder\ image\ 2.jpg);
    background-size: cover;
    font-size: 36px;
    color: var(--black);
    text-align: right;
}

.box4 {
    border: solid;
    border-color: var(--grey-pink);
    margin: 2px;
    background-image: url(../images/placeholder\ image\ 3.jpg);
    background-size: cover;
    font-size: 36px;
    color: var(--black);
    text-align: left;
}

.box5 {
    border: solid;
    border-color: var(--grey-pink);
    margin: 2px;
    background-image: url(../images/placeholder\ image\ 4.jpg);
    background-size: cover;
    font-size: 36px;
    color: var(--grey-pink);
    text-align: left;
}

.box1:hover {
    box-shadow: inset 0px 0px 40px;
    cursor: pointer;
}

.box2:hover,
.box3:hover,
.box4:hover,
.box5:hover {
    box-shadow: inset 0px 0px 20px;
    cursor: pointer;
}

section div ul li {
    display: inline;
    float: right;
    margin: 25px;
}

section div ul li a {
    text-decoration: none;
    font-size: 28px;
    -webkit-text-fill-color: var(--grey-pink);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--black);
}

section div ul li a:hover {
    box-shadow: inset 0px 0px 10px;
}
